@font-face {
  font-family: "PPSupply-Mono-Regular"; /*a name to be used later*/
  src: url("fonts/PPSupplyMono-Regular.otf"); /*URL to font*/
}

body {
  background-color: #1e2d2c;
  background-image: url(img/bg.svg);
  font-family: "PPSupply-Mono-Regular";
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #5892a7;
  margin: 24px;
}

h1 {
  font-size: 24px;
  margin: 0px;
}
h2 {
  font-size: 20px;
  text-align: right;
  margin: 0px;
  color: #5892a7;
}

h4 {
  font-size: 14px;
  text-align: right;
  margin: 0px;
}


.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 42px;
  border: 2px solid #c8b9cb;
  box-shadow: inset -8px -8px 0 0 #e2c9d8, inset 5px 5px 0 0 #fffeff,
    -2px 2px 0 0 #c8b9cb, 2px 2px 0 0 #c8b9cb;
  padding: 32px;
  margin-top: 32px;
  background-color: #fbe4f2;
}

.display-container {
  display: flex;
  flex-direction: column;
  background-color: #fff7bd;
  border: 3px solid #cfcaa1;
  border-radius: 16px;
  padding: 24px;
  gap: 8px;
  box-shadow: inset 4px 4px 0 0 #cec8a25b, inset -4px -4px 0 0 #f8f7ed;
}

.btn-holder {
  display: flex;
  flex-direction: row;
  padding: 0px;
  column-gap: 10px;
}

.digit {
  /*done*/
  font-family: "PPSupply-Mono-Regular";
  box-sizing: border-box;
  border: 1px solid #c8b9cb;
  background-color: #fbe4f2;
  box-shadow: inset -4px -4px 0 0 #e2c9d8, inset 4px 4px 0 0 #fffeff,
    -2px 2px 0 0 #c8b9cb, 2px 2px 0 0 #c8b9cb;
  cursor: pointer;
  padding: 8px 16px;
  min-width: 60px;
  min-height: 60px;
  font-size: 20px;
  color: white;
  border-radius: 16px;
  text-shadow: 2px 2px 0 #c8b9cb; /* Shadow behind the text */
  transition: all 0.2s ease-in-out;
  
}

.digit:hover {
  /*done*/
  background-color: #f7e0ee;
  border: 1px solid #c8b9cb;
  box-shadow: inset -2px -2px 0 0 #e2c9d800, inset 4px 4px 0 0 #e2c9d89d,
    -2px 2px 0 0 #c8b9cb, inset -2px -2px 0 0 #fffeff;
  text-shadow: none;
  transform: scale(0.95);
}

.math,
.equal {
  font-family: "PPSupply-Mono-Regular";
  background-color: #e4f8fb;
  box-sizing: border-box;
  border: 1px solid #c8b9cb;

  box-shadow: inset -4px -4px 0 0 #c1d9dd, inset 4px 4px 0 0 #feffff,
    -2px 2px 0 0 #c8b9cb, 2px 2px 0 0 #c8b9cb;
  cursor: pointer;
  padding: 8px 16px;
  min-width: 60px;
  min-height: 60px;
  font-size: 20px;
  color: white;
  border-radius: 16px;
  text-shadow: 2px 2px 0 #C1D9DD; /* Shadow behind the text */
  transition: all 0.2s ease-in-out;
}

.math:hover,
.equal:hover {
  background-color: #ddf1f4;
  border: 1px solid #c8b9cb;
  box-shadow: inset -2px -2px 0 0 #c1d9dd00, inset 4px 4px 0 0 #c1d9dd98,
    -2px 2px 0 0 #c8b9cb, inset -2px -2px 0 0 #feffff;
  text-shadow: none;
  transform: scale(0.95);
}

.clearBtn {
  font-family: "PPSupply-Mono-Regular";
  background-color: #e4fbe6;
  box-sizing: border-box;
  border: 1px solid #c8b9cb;
  box-shadow: inset -4px -4px 0 0 #c6dfc8, inset 4px 4px 0 0 #feffff,
    -2px 2px 0 0 #c8b9cb, 2px 2px 0 0 #c8b9cb;
  cursor: pointer;
  padding: 8px 16px;
  min-width: 60px;
  min-height: 60px;
  font-size: 20px;
  color: white;
  border-radius: 16px;
  text-shadow: 2px 2px 0 #c6dfc8; /* Shadow behind the text */
  transition: all 0.2s ease-in-out;
}

.clearBtn:hover {
  background-color: #dbf2dd;
  border: 1px solid #c8b9cb;
  box-shadow: inset -2px -2px 0 0 #c1d9dd00, inset 4px 4px 0 0 #c6dfc8bc,
    -2px 2px 0 0 #c8b9cb, inset -2px -2px 0 0 #feffff;
  text-shadow: none;
  transform: scale(0.95);
}

.row {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  column-gap: 8px;
  gap: 8px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #E4FBE6; /* Black background color */
  color: #5892A7; /* White text color */
  font-size: 18px;
  text-align: center; /* Centered text */
  border-radius: 8px; /* Rounded borders */
  padding: 24px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left:50%; /* Center the snackbar */
  bottom: 42px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}