@font-face {
  font-family: "PPSupply-Mono-Regular"; /*a name to be used later*/
  src: url("fonts/PPSupplyMono-Regular.otf"); /*URL to font*/
}

body {
  background-color: #1e2d2c;
  font-family: "PPSupply-Mono-Regular";
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #d3fb95;
  margin: 24px;
}

h1 {
  font-size: 24px;
  margin: 0px;
}
h2 {
  font-size: 20px;
  text-align: right;
  margin: 0px;
}

h4 {
  font-size: 14px;
  text-align: right;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  border: 3px solid #d3fb95;
  padding: 16px;
  margin-top: 32px;
}

.display-container {
  display: flex;
  flex-direction: column;
  border: 3px solid #d3fb95;
  border-bottom: 0cap;
  padding: 16px;
  gap: 8px;
}

.btn-holder {
  display: flex;
  flex-direction: row;
  border: 3px solid #d3fb95;
  padding: 16px;
  row-gap: 8px;
  column-gap: 8px;
}

.btn-num {
  font-family: "PPSupply-Mono-Regular";
  background-color: #1e2d2c00;
  border: 3px solid #d3fb95;
  color: #d3fb95;
  cursor: pointer;
  padding: 8px 16px;
  min-width: 60px;
}

.btn-num:hover {
  border: 3px solid #fb9595;
}

.row {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  column-gap: 8px;
}